@import "kouto-swiss"
@import 'jeet'
@import 'rupture'

box-sizing-reset()
normalize()

font-face("Montserrat-bold", "../fonts/Montserrat/Montserrat-SemiBold", 600 700 800, formats: otf eot ttf woff woff2)
font-face("Montserrat-light", "../fonts/Montserrat/Montserrat-Light", 100 200 300 400 500, formats: otf eot ttf woff woff2)

html,
body 
	font-family "Montserrat-light", sans-serif
ul 
	list-style none
	padding 0
	margin 0
p,
span
	font-weight 100
	font-size 14px
	line-height 1.5
	color #6d6e71
	margin 0 0 1.5em
	+above(1024px)
		line-height 1.7
		font-size 16px
	.page-zillion &
		line-height 1.44
		
p 
	&:first-child
		margin-top 0

img 
	max-width 100%
	
h1, h2, h3
	font-family "Montserrat-bold", sans-serif
	color #30a4dc
	font-size 30px
	margin-top 0
	+above(1024px)
		font-size 37px

.o-wrapper
	display block
	width 100%
	max-width 1024px
	margin 0 auto
	padding 0 15px
	&--960
		max-width 960px
		

.s-landing-banner
	width 100%
	height 210px
	background url(../img/banner_01.jpg) center no-repeat
	background-size cover
	+above(1024px)
		height 650px
	&__like
		position absolute
		left 50%
		top 50%
		transform translate(-50%, -50%)
		max-width 100px
		+above(1024px)
			max-width 300px
	&--ty 
		background url(../img/ty_banner.jpg) center no-repeat
		background-size cover
		position relative
		height 50vh
		max-height 650px
		margin-bottom -1px	
		&:after
			content ''
			background url(../img/blue-wave.png) center no-repeat
			background-size contain
			width 100%;
			max-width 280px
			height 50px
			position absolute
			bottom -25px
			left 50%
			transform translateX(-50%)
			+above(1024px)
				max-width 460px
		

.s-zillion-header
	background url(../img/zillion/header_zillion.jpg) center no-repeat
	width 100vw
	height calc('(100vw/2) + 50px')
	background-size cover
	+above(940px)
		height calc('(100vw/2) + 100px')


.s-landing-text
	background-color #000f39
	padding 2em 0
	clearfix()
	+above(1024px)
	


		padding 5em 0
	&__col
		text-align center
		+above(1024px)
			text-align left
			column(1/2)
		&:nth-child(1)
			+above(1024px)
				padding 0 3em
		&:nth-child(2)
			+above(1024px)
				padding 0 4em
	&__ttl
		&:after 
			content ''
			background url(../img/blue-wave.png) center no-repeat
			background-size contain
			display block
			width 100%
			max-width 380px
			height 50px
			margin .5em auto
			+above(1024px)
				margin .5em 0
	p 
		color #959595

.s-landing-forms
	padding: 2em 0;
	&__row
		clearfix()
	&__col
		text-align center
		margin 2em 0
		+above(1024px)
			text-align left
			margin 0
			column(1/2)
		&:nth-child(1)
			+above(1024px)
				padding 0 3em
		&:nth-child(2)
				+above(1024px)
					padding 7em 4em 0
		> span 
			display block
	&__row
		&:last-child
			.s-landing-forms__col
				&:nth-child(2)
					+above(1024px)
						padding 9.5em 4em 0
	&__form
		margin 2em 0
	&__ttl
		+above(1024px)
			max-width 200px
			
	span 
		b 
			font-family 'Montserrat-bold', sans-serif
			

.s-landing-ty
	background-color #000f39
	padding 120px 0
	min-height 50vh
	+above(1024px)
		padding 160px 0
	&__ttl
		font-family 'Montserrat-bold',sans-serif
		color #fff
		font-size 40px
		text-align center
		+above(1024px)
			font-size 90px
	&__sbttl,
	a
		font-size 16px
		font-family 'Montserrat-light',sans-serif
		text-align center
		color #009ef4
		opacity .9
		line-height 1.2
		+above(1024px)
			font-size 32px
			max-width 800px
			margin 0 auto
		a
			text-decoration none
form 
	input
		&[type="text"]
		&[type="email"]
			display block
			background-color #f3f3f4
			outline none
			border 0
			width 100%
			border-radius 20px
			padding 11px 15px
			margin 10px 0
			font-family 'Montserrat-bold', sans-serif
			font-size 13px
			&.error 
				border 1px solid red
				&::placeholder
					color red
		&[type="submit"]
			background-color #000f39
			color #fff
			border 0
			outline none
			padding 9px 30px
			border-radius 20px
			font-size 14px
			letter-spacing 1.2px
			font-family 'Montserrat-light', sans-serif
			+above(1024px)
				padding 9px 20px
		&::placeholder
			font-family 'Montserrat-bold', sans-serif
			font-size 13px
	span 
		&.msg
			display block;
			&.error 
				color red
			&.success 
				color green
a
	&.o-btn
		background-color #000f39
		color #fff
		border 0
		outline none
		border-radius 20px
		font-size 14px
		letter-spacing 1.2px
		font-family 'Montserrat-light', sans-serif
		text-decoration none
		padding 14px 30px
		margin 10px 0
		display inline-block		
			
.c-wave-separator
	display block
	margin 0 auto
	max-width 390px
	width 100%
	margin 2em auto
	+above(1024px)
		margin 5em auto

.c-list-highlights 
	display flex 
	justify-content space-between
	flex-direction column
	align-items center
	+above(960px)
		flex-direction row
		align-items flex-start
	&__item
		flex-basis 100%
		padding 0 20px
		max-width 300px
		margin 25px 0
		+above(960px)
			margin 0
	&__icon
		width 72px
		height 72px
	.o-ttl 
		margin 15px 0 0

.c-highlight-text
	position relative
	text-align center
	+above(960px)
		text-align left
		&:before 
			content ''
			background-image url(../img/zillion/bg_zillion_01.png)
			background-repeat no-repeat
			background-position center
			background-size contain
			position absolute
			left -115%
			top -170px
			width 675px
			height 410px
	&__logo 
		margin 0 auto 25px
		display block
		+above(960px)
			margin 0 0 25px
		
		
	


.o-ttl 
	font-family 'Montserrat-bold',sans-serif
	font-size 40px
	+above(1024px)
		font-size 90px
	&--22
		font-size 22px
	&--purple
		color #0229b3
	

.u-text-align
	&--center
		text-align center
	&--left
		text-align left
	&--right
		text-align right


$sides = top, bottom, left, right
for $i in (0..80)
	for $side in $sides 
		.u-m-{slice($side, 0, 1)}-{$i*5}
			margin-{$side} $i*5px!important
		.u-p-{slice($side, 0, 1)}-{$i*5}
			padding-{$side} $i*5px!important
			
+below(960px)
	for $i in (0..40)
		for $side in $sides 
			.u-m-{slice($side, 0, 1)}-{$i*5}--sm
				margin-{$side} $i*5px!important
			.u-p-{slice($side, 0, 1)}-{$i*5}--sm
				padding-{$side} $i*5px!important
