@import "kouto-swiss"
@import 'jeet'
@import 'rupture'

box-sizing-reset()
normalize()

font-face("Montserrat-bold", "../fonts/Montserrat/Montserrat-SemiBold", 600 700 800, formats: otf eot ttf woff woff2)
font-face("Montserrat-light", "../fonts/Montserrat/Montserrat-Light", 100 200 300 400 500, formats: otf eot ttf woff woff2)

html,
body 
	font-family "Montserrat-light", sans-serif
p,
span
	font-weight 100
	font-size 14px
	line-height 1.5
	color #6d6e71
	margin 0 0 1.5em
	+above(1024px)
		line-height 1.7
		font-size 16px
p 
	&:first-child
		margin-top 0

img 
	max-width 100%
	
h1, h2, h3
	font-family "Montserrat-bold", sans-serif
	color #30a4dc
	font-size 30px
	margin-top 0
	+above(1024px)
		font-size 37px

.o-wrapper
	display block
	width 100%
	max-width 1024px
	margin 0 auto
	padding 0 15px

.s-landing-banner
	width 100%
	height 210px
	background url(../img/banner_01.jpg) center no-repeat
	background-size cover
	+above(1024px)
		height 650px
.s-landing-text
	background-color #000f39
	padding 2em 0
	clearfix()
	+above(1024px)
		padding 5em 0
	&__col
		text-align center
		+above(1024px)
			text-align left
			column(1/2)
		&:nth-child(1)
			+above(1024px)
				padding 0 3em
		&:nth-child(2)
			+above(1024px)
				padding 0 4em
	&__ttl
		&:after 
			content ''
			background url(../img/blue-wave.png) center no-repeat
			background-size contain
			display block
			width 100%
			max-width 380px
			height 50px
			margin .5em auto
			+above(1024px)
				margin .5em 0
	p 
		color #959595

.s-landing-forms
	padding: 2em 0;
	&__row
		clearfix()
	&__col
		text-align center
		margin 2em 0
		+above(1024px)
			text-align left
			margin 0
			column(1/2)
		&:nth-child(1)
			+above(1024px)
				padding 0 3em
		&:nth-child(2)
				+above(1024px)
					padding 7em 4em 0
	&__row
		&:last-child
			.s-landing-forms__col
				&:nth-child(2)
					+above(1024px)
						padding 9.5em 4em 0
	&__form
		margin 2em 0
	&__ttl
		+above(1024px)
			max-width 200px
			
	span 
		b 
			font-family 'Montserrat-bold', sans-serif
		
	
form 
	input
		&[type="text"]
		&[type="email"]
			display block
			background-color #f3f3f4
			outline none
			border 0
			width 100%
			border-radius 20px
			padding 11px 15px
			margin 10px 0
			font-family 'Montserrat-bold', sans-serif
			font-size 13px
			&.error 
				border 1px solid red
				&::placeholder
					color red
		&[type="submit"]
			background-color #000f39
			color #fff
			border 0
			outline none
			padding 9px 30px
			border-radius 20px
			font-size 14px
			letter-spacing 1.2px
			font-family 'Montserrat-light', sans-serif
			+above(1024px)
				padding 9px 20px
		&::placeholder
			font-family 'Montserrat-bold', sans-serif
			font-size 13px
	span 
		&.msg
			display block;
			&.error 
				color red
			&.success 
				color green
			
			
.c-wave-separator
	display block
	margin 0 auto
	max-width 390px
	width 100%
	margin 2em auto
	+above(1024px)
		margin 5em auto




